<div class="container">
    <div class="v-details">
        <div class="info">
            <h1 class="v-title"><%= title %></h1>
            <div class="v-title-info">
                <div class="v-title-line">
                    <i class="b-icon-play"></i>
                    <span><%= play %></span>
                </div>
                <div class="v-title-line">
                    <i class="b-icon-cm"></i>
                    <span><%= danmu.length %></span>
                </div>
                <div class="v-title-line">
                    <i class="b-icon-show"></i>
                    <span>收藏</span><span><%= collection %></span>
                </div>
            </div>
        </div>
        <div class="upinfo">
            <div class="up-avatar">
                <a href="javascript:void(0)">
                    <img src="<%= upAvatar %>" alt="">
                </a>
            </div>
            <div class="up-details">
                <div class="up-name" data-id="<%= upId %>">
                    <%= upName%>
                </div>
                <div class="up-follow">
                    <% if(follow === false) { %>
                    <div class="follow-btn" id="follow">
                        关注
                    </div>
                    <% } %>
                    <% if(follow === true) { %>
                    <div class="follow-btn" id="unfollow">
                        取消关注
                    </div>
                    <% } %>
                </div>
            </div>
        </div>
    </div>
    <div class="v-wrapper">
        <div id="danmup"></div>
    </div>
</div>
